body{
    background-image: url("background.jpg");
    border: 20px groove greenyellow;
}

.flex-container{
    color: white;
    display:flex;
    justify-content: space-around;
    min-height: auto;
    align-items: center;
    margin-top: 15px;
}



ul li a{
    text-decoration: none;
    font-size: 1.15rem;
    color: white !important;
    position: relative;
    top: 2.5rem;
    right: -7rem;
}
.one{
    height: 150px;
    width: 350px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    border: 5px solid red;  
}
.two{
    position: relative;
    top: -35px;
    margin-left: -33%;
    height: 70px;
    width: 400px;
    background-color: black;
    color: white;
    border: 5px solid red;
    border-radius: 30px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.three{
    height: 150px;
    width: 350px;
    background-color: black;
    color: white;
    padding-bottom: 5px;
    border-radius: 30px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid red; 
}
.circle{
    background-color:rgb(10, 201, 175);
    color: black;
    height: 315px;
    width: 315px;
    border: 7px solid rgb(102, 148, 142);
    border-radius: 50%;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    top: 250px;
    left: 200px;
}
.dashed{
    background-color: white;
    height: 600px;
    width: 350px;
    position: relative;
    top: -250px;
    left: 700px;
    border: 10px dashed red;
    text-align: center;
    padding-top: 20px;
}
.menu{
    background-color: black;
    color: white;
    height: 80px;
    width: 400px;
    border: 5px solid red;
    border-radius: 30px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: -100px;
    left: 715px;
}
.my-grid {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card {
    border: 5px solid green;
    background-color: cyan;
    color: darkblue;
    height: 280px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    bottom: 10px;
    
    
}

.new {
    font-size: 1.15rem;
    display: grid;
    text-align: center;
    color:darkblue;
}

.new1 {
    font-size: 1.15rem;
    display: grid;
    text-align: center;
    color:darkblue;
    gap: 7px;
    
}

.card1 {
    border: 5px solid green;
    background-color: cyan;
    color: darkblue;
    height:320px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

